
<header class="bg-gray-100 shadow">
  <div class="contain-content mx-auto px-4 py-2 flex justify-between items-center">
    <div>
      <h1 class="text-xl font-bold" >Dashboard</h1>
    </div>
    <div class="flex items-center space-x-4">
      <input type="text" pleaceholder="Buscar ..." class="border rounded px-2 py-1">
      <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-1 px-2 rounded" >Item</button>
    </div>
    <div class="flex relative ">
      <img src="../assets/angular.jpg" alt="" class="w-8 h-8 rounded-full mr-2">
      <button class="flex items-center">Perfil</button>
    </div>
  </div>
</header>
