<div class="w-full h-screen relative">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    class="chart-container">
  </highcharts-chart>
  <div class="absolute bottom-2 w-full text-center text-xs font-semibold"> (*) Generación a temperatura media anual</div>
</div>

<!-- <div id="sliders">
  <label for="alpha">Alpha:</label>
  <input
    id="alpha"
    type="range"
    min="0"
    max="90"
    [value]="alpha"
    (input)="onSliderChange($event, 'alpha')"
  />
  <span>{{ alpha }}</span>

  <label for="beta">Beta:</label>
  <input
    id="beta"
    type="range"
    min="0"
    max="90"
    [value]="beta"
    (input)="onSliderChange($event, 'beta')"
  />
  <span>{{ beta }}</span>
</div> -->