.chart-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.custom-subtitle {
  position: absolute;
  top: 310px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}