/* Estilo para el mapa SVG */
svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
  pointer-events: none; /* Evita interacción con los elementos ocultos */
}
.btn {
stroke: #FFF;
stroke-width: 2;
}
.btn:hover{
stroke: #ffffff;
cursor:pointer;
}

.transparent-button {
opacity: 0.5; /* 50% de opacidad */
}

/* Estilo del globo informativo */
.tooltip {
  font-family: 'Arial';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border: 1.5px solid #999;
}
.circle {
stroke: #FFF !important;
stroke-width: 2 !important;
fill-opacity: 0.8;
transition: fill 0.3s, stroke 0.3s; /* Animación suave */
}
.circle:hover {
fill-opacity: 1;
stroke-width: 2;
stroke: #ffffff !important;
cursor:pointer;
}

/* Colores por defecto */
g.depa text {
  fill: rgba(255, 255, 255, 0);
  transition: fill 0.3s ease;
}

g.depa:hover text {
  fill: #FFFFFF;
  transition: fill 0.3s ease;
}



/* Colores por defecto */
g.norte path {
  fill: #d9d9d9; /* Color inicial para el grupo norte */
  transition: fill 0.3s ease; /* Transición suave */
}


g.este path {
  fill: #d9d9d9; /* Color inicial para el grupo este */
  transition: fill 0.3s ease;
}

g.oeste path {
  fill: #d9d9d9; /* Color inicial para el grupo este */
  transition: fill 0.3s ease;
}

g.sur path {
  fill: #d9d9d9; /* Color inicial para el grupo sur */
  transition: fill 0.3s ease;
}

/* Colores al hacer hover */
g.norte:hover path {
  fill: #D2D2C8; /* Color al hacer hover en el grupo norte */
}

g.este:hover path {
  fill: #CDD5C6; /* Color al hacer hover en el grupo este */
}
g.oeste:hover path {
  fill: #E0E2D7; /* Color al hacer hover en el grupo este */
}

g.sur:hover path {
  fill: #E8D4C6; /* Color al hacer hover en el grupo sur */
}