

<div class=" bg-blue-800 shadow-md p-4 mb-4" style="padding: 16px; margin-bottom: 25px;" >
  <h2 class="text-xl text-blue-50 font-bold mb-6 " >Dashboard CNDC</h2>
</div>



<div class="grid gap-5">
  <!-- Primera fila con tres columnas -->
  <div class="grid grid-cols-4 gap-5">
    <div class="col-span-1 rounded-md shadow-md p-4 mb-4">
      <app-simple-chart></app-simple-chart>
    </div>
    <div class="col-span-2 rounded-md shadow-md p-4 mb-4">
      <app-lines-chart></app-lines-chart>
    </div>
    <div class="col-span-1 rounded-md shadow-md p-4 mb-4">
      <app-area-chart></app-area-chart>
    </div>
  </div>

  <!-- Segunda fila con una columna que ocupa el 100% del ancho -->
  <div class="rounded-md shadow-md p-4 mb-4">
    <router-outlet></router-outlet>
    <app-line-chart></app-line-chart>
  </div>
</div>



